@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<p>Mr Fix It started in 2010, with the intention of providing easy access to handy people to help solve your problems!  We provide access to repair men/women of all types; toilet bombed out? We got plumbers, roof leaking? We have roofers, .NET giving you a hard time? Just use Rails -  there's a Gem for everything!</p>

@Html.ActionLink("Home", "Index", "Home")