body {
    padding-top: 70px;
    background-image: url(../img/pexels-photo-64609.jpeg)
 
}

form{
    display:inline-block;
    
}

li.btn{
    font-size: 18px;
}

li.li-title{
    font-size: 25px;
}

li.li-desc{
    font-size: 20px;
}

ul{
    list-style: none;
}

.block{
    border-radius: 10px;
    background-color: white;
    opacity: 0.8;
    border: 0.5px black solid;
    margin-bottom: 10px;
}


.link{
    background-color: white;
    opacity: 0.8;
    padding: 5px;

}
